@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F8FF;
}

#app {
  width: 80%;
  padding: 0 24px;
  margin: auto;
}

@media (min-width: 767px) {
  #app {
    width: 734px;
    padding: 0;
    margin: 0 auto;
  }
}

.block-in-form{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 10px 10px 10px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);;
  border-radius: 15px;
  margin: 0.5rem 0 0.5rem 0;
}

.block-in-form>label{
  text-align: center;
}

@media (min-width: 767px) {
  .block-in-form{
    padding: 10px 10px 10px 30px;
  }
}

.block-in-form>button{
  flex-shrink: 0;
}

.number-field {
  padding: 0 10px;
  height: 40px;
  border: 1px solid rgb(226, 223, 223);
  border-radius: 15px;
  color:#2B3442;
  font-size: 0.75rem;
  line-height: 1.5;
  cursor: pointer;
  background-color: #FFF;;
}

.buttons {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1%;
}

.buttons>button{
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  color: #FFF;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;

}

.BTNSubmit{
  background-color: #69d254;
}

.BTNSubmit:active{
  background-color: #3d7a30;
}

.BTNLoalStorageClear{
  background-color: #ce0909e3;
}

.BTNLoalStorageClear:active{
  background-color: #750505e3;
}

.inner-div-item {
  background-color: #ced0d785;
  color: #2B3442;
  padding: 2%;
  margin: 1%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
}

.inner-div-item > p{
  text-align: center;
}

.close-symbol {
  color: red;
  cursor: pointer;
}

.close-symbol:active {
  color: rgb(117, 1, 1);
}